::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 8%;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #a5a5a5;
    border-radius: 5px;
}