$phones: 760px;
$tablets: 990px;
$notebooks: 1200px;

$widget-lg: 486px;
$widget-md: 235px;
$widget-sm: 140px;
$widget-img-h: 94px;
$widget-img-w: 177px;
$widget-img-scale-md-w: 55%;
$widget-img-scale-sm-w: 45%;
$widget-img-scale-md-h: 100%;
$widget-img-scale-sm-h: 80%;

$navbar-h: 100px;
$navbar-img-h: 30px;
$panel-logo-md-h: 210px;
$panel-logo-sm-h: 200px;
$panel-logo-lg-h: 250px;
$panel-img-scale-lg-h: 75%;
$panel-img-scale-lg-w: 95%;
$panel-img-scale-md-h: 75%;
$panel-img-scale-md-w: 85%;
$panel-img-scale-sm-h: 75%;
$panel-img-scale-sm-w: 75%;
$panel-name-md-mt: 80px;
$panel-md-mt: 120px;

$primary-border: 1px solid #ECECEC;
$secondary-border: 2px solid rgb(245, 245, 245);
$primary-background: #FFFFFF;
$secondary-background: #F7F7F7;
$text-primary: #3F3F3F;
$text-document-title: #626262;
$text-secondary: #797979;
$success: #23CF9A;
$warning: #FFB11B;

$font-xl: 17px;
$font-lg: 15px;
$font-md: 12px;
$font-sm: 10px;
$font-title: 21px;
$font-subtitle: 13px;
$font-family: Encode sans; 
